.error-template {
  margin-top:80px;
  padding: 40px 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height:500px;
}
.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}
.error-actions .btn {
  margin-right: 10px;
}
