.prt_label {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.prt_label:hover {
  color: blue;
}

.prt_compare {
  bottom: 0;
  position: absolute;
}

.prt_heart {
  right: 0;
  position: absolute;
}
