.prt_label {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.prt_label:hover {
  color: blue;
}

.prt_compare {
  bottom: 0;
  position: absolute;
  padding-left: 0;
}

.prt_heart {
  top: 0;
  right: 0;
  position: absolute;
}

.search-item-img-cont {
  min-height: 155px;
}
